htdocs/resources/Dokumendihalduse_metaandmed/v4.0/Dokumendihalduse_metaandmed_liigitusyksus_vers4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Kirjeldus: Dokumendihalduse metaandmete loendi liigitusüksuse plokki kajastav XML skeem -->
<!-- Skeemi aluseks on dokumendihalduse metaandmete loendi versioon 4.0 -->
<xs:schema xmlns="http://xmlr.eesti.ee/xml/schemas/Dokumendihalduse_metaandmed/2018/vers4/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlr.eesti.ee/xml/schemas/Dokumendihalduse_metaandmed/2018/vers4/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Liigitusyksus" type="LiigitusyksusType">
		<xs:annotation>
			<xs:documentation>Liigitussüksuse metaandmed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="LiigitusyksusType">
		<xs:annotation>
			<xs:documentation>Komplekstüüp liigitusüksuste metaandmetega</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LiigitusyksusTyyp">
				<xs:annotation>
					<xs:documentation>Liigitusüksuse kategooria või tasandi nimetus</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="funktsioon"/>
						<xs:enumeration value="allfunktsioon"/>
						<xs:enumeration value="sari"/>
						<xs:enumeration value="allsari"/>
						<xs:enumeration value="toimik"/>
						<xs:enumeration value="asi"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LiigitusyksusViit" type="xs:string">
				<xs:annotation>
					<xs:documentation>Liigitusüksusele liigitusskeemis antud tähis</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LiigitusyksusPealkiri" type="xs:string">
				<xs:annotation>
					<xs:documentation>Funktsioonile, sarjale, allsarjale või toimikule antud nimetus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LiigitusyksusKirjeldus" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Liigitusüksuse seletav kirjeldus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LiigitusyksusMarksona" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Liigitusüksuse sisu kirjeldav sõna või sõnaühend</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LiigitusyksusKuupaev" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Kuupäev ja aeg, kui liigitusüksusega leiavad aset põhilised dokumendihalduse toimingud</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LiigitusyksusKuupaevLoomine" type="xs:dateTime">
							<xs:annotation>
								<xs:documentation>Liigitusüksuse loomise kuupäev ja kellaaeg</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LiigitusyksusKuupaevAvamine" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Liigitusüksuse avamise kuupäev ja kellaaeg</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LiigitusyksusKuupaevSulgemine" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Liigitusüksuse sulgemise kuupäev ja kellaaeg</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LiigitusyksusKuupaevYleandmine" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Liigitusüksuse avalikku arhiivi üleandmise kuupäev.
Koos selle elemendi täitmisega muutuvad ka elemendid Liigitusüksuse asukoht ja Dokumendi asukoht</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LiigitusyksusKuupaevYleandmineSailitaja" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Arhiiviväärtuseta liigitusüksuse lühi- või pikaajaliseks säilitamiseks (ilma omandiõiguse üleminekuta) üleandmise kuupäev.
Koos selle elemendi täitmisega muutuvad ka elemendid Liigitusüksuse asukoht ja Dokumendi asukoht.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LiigitusyksusKuupaevHavitamine" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Liigitusüksuse füüsilise hävitamise kuupäev ja kellaaeg</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LiigitusyksusStaatus" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Liigitusüksuse kehtivuse staatus</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LiigitusyksusVastutaja" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Viide asutuse struktuuriüksuse või ametikoha, kelle vastutusalas liigitusüksus luuakse ja hoitakse, kirjeldusele</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LiigitusyksusAsukoht" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Toimiku, asja või vajadusel muu liigitusüksuse füüsiline asukoht</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sailitustahtaeg">
				<xs:annotation>
					<xs:documentation>Liigitusüksusele määratud säilitustähtaja kirjeldus</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SailitustahtaegKestus" type="xs:string">
							<xs:annotation>
								<xs:documentation>Säilitustähtaja kestus aastates või märkena „alaline“</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SailitustahtaegKaivitaja" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Säilitustähtaja arvestamist alustav sündmus</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SailitustahtaegKuupaevAlgus" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Sälitustähtaja arvestamise alguskuupäev</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SailitustahtaegKuupaevLopp" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Säilitustähtaja lõppemise kuupäev, mis täidetakse siis, kui säilitustähtaeg on lõppenud või seda lõpetav sündmus leiab aset</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Hindamisotsus" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Viide avaliku arhiivi poolt tehtud hindamisotsusele</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="HindamisotsusViide" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Ühene viide hindamisotsuse dokumendile</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="HindamisotsusKuupaev" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Hindamisotsuse kuupäev</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ArhiivivaartusMarge">
							<xs:annotation>
								<xs:documentation>Arhiiviväärtuse olemasolu</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="AV"/>
									<xs:enumeration value="H"/>
									<xs:enumeration value="T"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EraldamineAjakava" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Liigitusüksusega seotud säilitamise ja eraldamise ajakava</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AjakavaTegevusKirjeldus" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Ajakava etapiga kaasneva tegevuse kirjeldus</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AjakavaTegevusTahtaeg" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Ajakava etapiga kaasneva tegevuse teostamise kuupäev </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AjakavaTegevusKaivitaja" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Ajakava etapiga kaasnevat tegevust käivitava sündmuse kirjeldus</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Teade" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Ajakava etapiga kaasneva tegevuse teostamise teate seaded</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LiigitusyksusVolitus" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Funktsiooni või vajadusel mõne teise liigitusüksuse aluseks oleva volituse kirjeldus</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VolitusTyyp" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identifitseerib kirjeldatava volituse tüübi</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="VolitusNimetus" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Nimetus esitab volitusi sisaldava dokumendi nime</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="VolitusViide" type="xs:anyURI" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Viide asutuse pädevust või kohustust kehtestavale õigusaktile  </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="VolitusKirjeldus" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Volituste iseloomu või omaduste vabatekstiline kirjeldus</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="liigitusyksusGuid" type="xs:ID" use="required">
			<xs:annotation>
				<xs:documentation>Liigitusüksuse unikaalne identifikaator</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
