htdocs/resources/Oigusakt/konteiner_1_8.09.2010.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Eve Agur (Interest Marketing Ltd.) -->
<!-- 14.10.2010 -->
<xs:schema xmlns:o="juurakt_1_10.02.2010" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="juurakt_1_10.02.2010" xmlns:ns1="http://xmlr.eesti.ee/xml/schemas/oigusakt" targetNamespace="http://xmlr.eesti.ee/xml/schemas/oigusakt" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:import namespace="juurakt_1_10.02.2010" schemaLocation="http://xmlr.eesti.ee/xml/schemas/oigusakt/konteiner_1_8.09.2010.xsd"/>
	<xs:annotation>
		<xs:documentation>ID - juurakt_1_10.02.2010 Juurakti õigusakti (eelnõu ja terviktekst) XML skeem Eesmärk - võimaldada koostada seaduse XML dokumenti</xs:documentation>
	</xs:annotation>
	<xs:element name="oigusakt">
		<xs:annotation>
			<xs:documentation>Juurakti XML skeemi juurelement</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="o:TypeID">
					<xs:sequence>
						<xs:element ref="o:metaandmed" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Metaandmete blokk</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="o:aktinimi">
							<xs:annotation>
								<xs:documentation>Akti pealkiri</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="o:sisu">
							<xs:annotation>
								<xs:documentation>Akti sisu</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="metaandmedType">
		<xs:complexContent>
			<xs:extension base="o:TypeID">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>Juurdepääsu piirang</xs:documentation>
					</xs:annotation>
					<xs:element name="seisund" default="EELNÕU">
						<xs:annotation>
							<xs:documentation>Märge eelnõu kohta</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
								<xs:enumeration value="EELNÕU"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="valjaandja" type="o:stringID">
						<xs:annotation>
							<xs:documentation>Akti väljaandja</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dokumentLiik" type="o:stringID">
						<xs:annotation>
							<xs:documentation>Dokumendi liik</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tekstiliik" default="algtekst-terviktekst">
						<xs:annotation>
							<xs:documentation>Akti teksti liik</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="algtekst"/>
								<xs:enumeration value="algtekst-terviktekst"/>
								<xs:enumeration value="terviktekst"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="lyhend" type="o:stringID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Akti pealkirja lühend</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="marksona" type="o:stringID" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Märksõna</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="juurdepaasPiirang" type="o:juurdepaasPiirangType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Juurdepääsu piirang</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dokumentEtapp" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Dokumendi menetlusetapp</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="koostamine"/>
								<xs:enumeration value="eelkooskõlastamine"/>
								<xs:enumeration value="kooskõlastamine"/>
								<xs:enumeration value="menetlus Vabariigi Valitsuses"/>
								<xs:enumeration value="menetlus Riigikogus"/>
								<xs:enumeration value="väljakuulutamine"/>
								<xs:enumeration value="avaldamine"/>
								<xs:enumeration value="vastuvõtmismenetlus"/>
								<xs:enumeration value="teatavakstegemine"/>
								<xs:enumeration value="vaide ja kohtumenetlus"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="dokumentStaatus" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Dokumendi staatus menetlusetapis</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="koostamisel"/>
								<xs:enumeration value="esitatud kooskõlastamiseks"/>
								<xs:enumeration value="kooskõlastatud (märkuste ja ettepanekutega)"/>
								<xs:enumeration value="kooskõlastamata (märkuste ja ettepanekutega)"/>
								<xs:enumeration value="kooskõlastatud"/>
								<xs:enumeration value="kooskõlastamata"/>
								<xs:enumeration value="esitatud Vabariigi Valitsusele"/>
								<xs:enumeration value="menetlus lõpetatud Riigikantselei poolt"/>
								<xs:enumeration value="vormistatud Vabariigi Valitsuse istungile"/>
								<xs:enumeration value="heaks kiidetud"/>
								<xs:enumeration value="heaks kiidetud (sisuliste muudatustega)"/>
								<xs:enumeration value="tagasilükatud"/>
								<xs:enumeration value="algatatud"/>
								<xs:enumeration value="menetlusse võetud"/>
								<xs:enumeration value="tagastatud"/>
								<xs:enumeration value="saadetud arvamuse andmiseks Vabariigi Valitsusele"/>
								<xs:enumeration value="saadetud I lugemisele"/>
								<xs:enumeration value="I lugemine lõpetatud"/>
								<xs:enumeration value="menetlus juhtivkomisjonis"/>
								<xs:enumeration value="saadetud II lugemisele"/>
								<xs:enumeration value="II lugemine katkestatud"/>
								<xs:enumeration value="saadetud II lugemise jätkamisele"/>
								<xs:enumeration value="II lugemine lõpetatud"/>
								<xs:enumeration value="saadetud III lugemisele"/>
								<xs:enumeration value="III lugemine katkestatud"/>
								<xs:enumeration value="saadetud III lugemise jätkamisele"/>
								<xs:enumeration value="tagasivõetud"/>
								<xs:enumeration value="menetlus juhtivkomisjonis"/>
								<xs:enumeration value="vastuvõetud"/>
								<xs:enumeration value="esitatud Vabariigi Presidendile"/>
								<xs:enumeration value="väljakuulutatud"/>
								<xs:enumeration value="väljakuulutamata"/>
								<xs:enumeration value="saadetud Riigikohtule"/>
								<xs:enumeration value="esitatud vastuvõtmiseks"/>
								<xs:enumeration value="vormistatud vastuvõtmiseks"/>
								<xs:enumeration value="vastuvõetud (muudatustega)"/>
								<xs:enumeration value="allkirjastatud"/>
								<xs:enumeration value="vastuvõetud (muudatusteta)"/>
								<xs:enumeration value="teatavaks tehtud"/>
								<xs:enumeration value="vaidlustatud"/>
								<xs:enumeration value="menetlus lõpetatud"/>
								<xs:enumeration value="esitatud avaldamiseks"/>
								<xs:enumeration value="peatatud"/>
								<xs:enumeration value="avaldatud"/>
								<xs:enumeration value="mitteavaldatud"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element ref="o:vastuvoetud" minOccurs="0"/>
					<xs:element name="EmsNr" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Riigikogu menetluse number</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="menetlusNr" type="o:stringID">
									<xs:annotation>
										<xs:documentation>Menetluse number</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="tahis" type="o:stringID">
									<xs:annotation>
										<xs:documentation>Menetluse numbri tähis</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="lugemiseNr" type="o:stringID">
									<xs:annotation>
										<xs:documentation>Menetluse lugemise number</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="lugemiseKord" type="o:stringID">
									<xs:annotation>
										<xs:documentation>Menetluse lugemise kord</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element ref="o:valjakuulutamine" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Vabariigi Presidendi poolt väljakuulutamine</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="avaldamismarge" type="o:avaldamismargeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Avaldamismärge</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="kehtivus" type="o:kehtivusType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Kehtivus</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="versioon" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Dokumendi versioon</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="o:TypeID">
									<xs:sequence>
										<xs:element name="dokumentVersioon" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Dokumendi versioon</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="dokumentVersioonKuupaev" type="o:dateID" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Versiooni kuupäev</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="skeemiNimi" type="o:stringID">
						<xs:annotation>
							<xs:documentation>Skeemi nimetus</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="globaalID" type="o:stringID">
						<xs:annotation>
							<xs:documentation>Globaalselt unikaalne identifikaator</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="metaandmedVersioon" type="xs:nonNegativeInteger">
						<xs:annotation>
							<xs:documentation>Metaandmete versioon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="metaandmedVersioonKuupaev" type="o:dateID">
						<xs:annotation>
							<xs:documentation>Metaandmete versiooni kuupäev</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="metaandmedVersioonPohjustaja" type="o:stringID">
						<xs:annotation>
							<xs:documentation>Metaandmete versiooni looja</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="terviktekstiGrupiID" type="xs:nonNegativeInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Tervikteksti grupi ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eesmark" type="o:stringID" default="Juurakti raamskeem XML struktuuri koostamiseks" minOccurs="0">
						<xs:annotation>
							<xs:documentation>XML skeemi eesmärk XML faili teistest eristamiseks</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!-- lisatud 08.07.2010 -->
					<xs:element name="versiooniMuutus" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Metaandmete varasem versioon</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="o:TypeID">
									<xs:sequence>
										<xs:element name="dokumentEtapp" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Dokumendi menetlusetapp</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="koostamine"/>
													<xs:enumeration value="eelkooskõlastamine"/>
													<xs:enumeration value="kooskõlastamine"/>
													<xs:enumeration value="menetlus Vabariigi Valitsuses"/>
													<xs:enumeration value="menetlus Riigikogus"/>
													<xs:enumeration value="väljakuulutamine"/>
													<xs:enumeration value="avaldamine"/>
													<xs:enumeration value="vastuvõtmismenetlus"/>
													<xs:enumeration value="teatavakstegemine"/>
													<xs:enumeration value="vaide ja kohtumenetlus"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="dokumentStaatus" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Dokumendi staatus menetlusetapis</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="koostamisel"/>
													<xs:enumeration value="esitatud kooskõlastamiseks"/>
													<xs:enumeration value="kooskõlastatud (märkuste ja ettepanekutega)"/>
													<xs:enumeration value="kooskõlastamata (märkuste ja ettepanekutega)"/>
													<xs:enumeration value="kooskõlastatud"/>
													<xs:enumeration value="kooskõlastamata"/>
													<xs:enumeration value="esitatud Vabariigi Valitsusele"/>
													<xs:enumeration value="menetlus lõpetatud Riigikantselei poolt"/>
													<xs:enumeration value="vormistatud Vabariigi Valitsuse istungile"/>
													<xs:enumeration value="heaks kiidetud"/>
													<xs:enumeration value="heaks kiidetud (sisuliste muudatustega)"/>
													<xs:enumeration value="tagasilükatud"/>
													<xs:enumeration value="esitatud Riigikogule / algatatud Riigikogus"/>
													<xs:enumeration value="menetlusse võetud / tagastatud / uuesti arutamine "/>
													<xs:enumeration value="saadetud arvamuse andmiseks Vabariigi Valitsusele"/>
													<xs:enumeration value="saadetud I lugemisele"/>
													<xs:enumeration value="I lugemine lõpetatud"/>
													<xs:enumeration value="menetlus juhtivkomisjonis"/>
													<xs:enumeration value="saadetud II lugemisele"/>
													<xs:enumeration value="II lugemine katkestatud"/>
													<xs:enumeration value="saadetud II lugemise jätkamisele"/>
													<xs:enumeration value="II lugemine lõpetatud"/>
													<xs:enumeration value="saadetud III lugemisele"/>
													<xs:enumeration value="III lugemine katkestatud"/>
													<xs:enumeration value="saadetud III lugemise jätkamisele"/>
													<xs:enumeration value="tagasivõetud"/>
													<xs:enumeration value="menetlus juhtivkomisjonis"/>
													<xs:enumeration value="vastuvõetud"/>
													<xs:enumeration value="esitatud Vabariigi Presidendile"/>
													<xs:enumeration value="väljakuulutatud"/>
													<xs:enumeration value="väljakuulutamata"/>
													<xs:enumeration value="saadetud Riigikohtule"/>
													<xs:enumeration value="esitatud vastuvõtmiseks"/>
													<xs:enumeration value="vormistatud vastuvõtmiseks"/>
													<xs:enumeration value="vastuvõetud (muudatustega)"/>
													<xs:enumeration value="allkirjastatud"/>
													<xs:enumeration value="vastuvõetud (muudatusteta)"/>
													<xs:enumeration value="teatavaks tehtud"/>
													<xs:enumeration value="vaidlustatud"/>
													<xs:enumeration value="menetlus lõpetatud"/>
													<xs:enumeration value="esitatud avaldamiseks"/>
													<xs:enumeration value="peatatud"/>
													<xs:enumeration value="avaldatud"/>
													<xs:enumeration value="mitteavaldatud"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="metaandmedVersioon" type="xs:nonNegativeInteger">
											<xs:annotation>
												<xs:documentation>Metaandmete versioon</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="metaandmedVersioonKuupaev" type="o:dateID">
											<xs:annotation>
												<xs:documentation>Metaandmete versiooni kuupäev</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="metaandmedVersioonPohjustaja" type="o:stringID">
											<xs:annotation>
												<xs:documentation>Metaandmete versiooni looja</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<!-- -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="versioonType">
		<xs:complexContent>
			<xs:extension base="o:TypeID">
				<xs:sequence>
					<xs:element name="dokumentVersioon" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Dokumendi versioon</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dokumentVersioonKuupaev" type="o:dateID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Versiooni kuupäev</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="kehtivusType">
		<xs:complexContent>
			<xs:extension base="o:TypeID">
				<xs:sequence>
					<xs:choice minOccurs="0">
						<xs:annotation>
							<xs:documentation>Kehtivuse algus</xs:documentation>
						</xs:annotation>
						<xs:element name="kehtivuseAlgus" type="o:dateID" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Kehtivuse alguse kuupäev</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="tavatekstAlgus" type="o:tavatekstID" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Kehtivuse alguse sündmus</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:choice minOccurs="0">
						<xs:annotation>
							<xs:documentation>Kehtivuse lõpp</xs:documentation>
						</xs:annotation>
						<xs:element name="kehtivuseLopp" type="o:dateID" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Kehtivuse lõpukuupäev</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="tavatekstLopp" type="o:tavatekstID" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Kehtivuse lõpu sündmus</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="valjakuulutatudType">
		<xs:complexContent>
			<xs:extension base="o:TypeID">
				<xs:sequence>
					<xs:element name="kellepoolt" type="o:changestringID" default="Vabariigi President" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Kelle poolt väljakuulutatud</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="kuupaev" type="o:dateID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Väljakuulutamise otsuse kuupäev</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="otsusnr" type="o:changestringID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Väljakuulutamise otsuse number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--xs:element ref="o:tavatekst" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation>Tavatekst</xs:documentation>
                                                </xs:annotation>
                                        </xs:element-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="pealkiriType">
		<xs:complexContent>
			<xs:extension base="o:TypeID">
				<xs:sequence>
					<xs:element name="pealkiri" type="o:tavatekstID">
						<xs:annotation>
							<xs:documentation>Akti pealkiri</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="vastuvoetudType">
		<xs:complexContent>
			<xs:extension base="o:TypeID">
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="o:tavatekst" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Tavatekst</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="aktikuupaev" type="o:dateID">
						<xs:annotation>
							<xs:documentation>Vastuvõtmise kuupäev</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="avaldamismarge" type="o:avaldamismargeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Avaldamismärge</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="joustumine" type="o:dateID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Jõustumise kuupäev</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--xs:element name="aktiandja" type="o:stringID" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation>Aktiandja</xs:documentation>
                                                </xs:annotation>
                                        </xs:element-->
					<xs:element name="aktiNr" type="o:nonNegativeIntegerID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Akti nr. </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="muutmismargeType">
		<xs:complexContent>
			<xs:extension base="o:TypeID">
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="o:tavatekst" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Tavatekst</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="aktikuupaev" type="o:dateID">
						<xs:annotation>
							<xs:documentation>Vastuvõtmise kuupäev</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="avaldamismarge" type="o:avaldamismargeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Avaldamismärge</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="joustumine" type="o:dateID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Jõustumise kuupäev</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--xs:element name="aktiandja" type="o:stringID" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation>Aktiandja</xs:documentation>
                                                </xs:annotation>
                                        </xs:element-->
					<xs:element name="aktiNr" type="o:nonNegativeIntegerID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Akti nr. </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="RTosaEnum">
		<xs:annotation>
			<xs:documentation>Riigi Teataja osa elemendi väärtused</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="RT I"/>
			<xs:enumeration value="RT II"/>
			<xs:enumeration value="RT III"/>
			<xs:enumeration value="RT IV"/>
			<xs:enumeration value="RT V"/>
			<xs:enumeration value="RTL"/>
			<xs:enumeration value="KO"/>
			<xs:enumeration value="ÜVT"/>
			<xs:enumeration value="VMT"/>
			<xs:enumeration value="RT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="avaldamismargeType">
		<xs:complexContent>
			<xs:extension base="o:TypeID">
				<xs:sequence>
					<xs:element name="RTosa">
						<xs:annotation>
							<xs:documentation>Riigi Teataja osa</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="o:RTosaEnum">
									<xs:attribute name="id" type="xs:string"/>
									<xs:attribute name="refId" type="xs:string"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="avaldamineKuupaev" type="o:dateID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Avaldamise kuupäev</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:sequence>
						<xs:element name="RTaasta" type="o:gYearID" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Riigi Teataja avaldamisaasta</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RTnr" type="o:nonNegativeIntegerID" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Riigi Teataja number</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:element name="RTartikkel" type="o:changestringID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Riigi Teataja artikkel</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="aktViide" type="o:changestringID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Link aktile</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sisuType">
		<xs:complexContent>
			<xs:extension base="o:TypeID">
				<xs:sequence>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="o:sisuTekst">
							<xs:annotation>
								<xs:documentation>Tekstiline sisu</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="sisuTekst" type="o:tekstType">
		<xs:annotation>
			<xs:documentation>Sisu tekst</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tavatekstID" mixed="true">
		<xs:complexContent mixed="true">
			<xs:extension base="o:TypeID">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Tavateksti baas, millel on kaasas atribuut ID</xs:documentation>
					</xs:annotation>
					<xs:element ref="o:loend"/>
					<xs:element ref="o:b">
						<xs:annotation>
							<xs:documentation>Paksus kirjas tekst</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="o:i">
						<xs:annotation>
							<xs:documentation>Kaldkirjas tekst</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="o:u">
						<xs:annotation>
							<xs:documentation>Allajoonitud tekst</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="o:sup"/>
					<xs:element ref="o:sub"/>
					<xs:element name="reavahetus">
						<xs:annotation>
							<xs:documentation>Reavahetus</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:attributeGroup ref="o:tekst.staatus"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tekstType">
		<xs:complexContent>
			<xs:extension base="o:TypeID">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="o:tavatekst">
						<xs:annotation>
							<xs:documentation>Vormindatud tekst</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="viide" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Viide</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="o:viideType">
									<xs:attributeGroup ref="o:tekst.staatus"/>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="fail" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Fail</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:base64Binary">
									<xs:attribute name="failNimi" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>Faili nimi</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="failVorming" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>Faili vorming</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="failKuvamine" use="required">
										<xs:annotation>
											<xs:documentation>Faili kuvamine</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="tekstis"/>
												<xs:enumeration value="viitena"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="laius" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation>Pildifaili laius</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="korgus" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation>Pildifaili kõrgus</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element ref="o:HTMLKonteiner">
						<xs:annotation>
							<xs:documentation>HTML konteiner</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:attributeGroup name="nr.vorming">
		<xs:attribute name="vorming" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="araabia"/>
					<xs:enumeration value="rooma"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ylaIndeks" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:complexType name="viideType">
		<xs:complexContent>
			<xs:extension base="o:TypeID">
				<xs:sequence>
					<xs:element name="kuvatavTekst" type="o:stringID">
						<xs:annotation>
							<xs:documentation>Kuvatav tekst</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="viideURID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Sisemise viite URID</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="o:TypeID">
									<xs:choice>
										<xs:element name="viideURI" type="o:anyURIID" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Viite URL</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="viideID" type="o:stringID" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Viitab elemendile läbi ID atribuudi</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="viideValine" type="o:anyURIID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Välise viite URL</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="viideAkt" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Sisemine viide Riigi Teataja aktile ja selle osale</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="o:TypeID">
									<xs:sequence>
										<xs:element name="viideRT" type="o:avaldamismargeType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Viite Riigi Teataja osa</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="viidePunkt" type="o:stringID" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Viite punkt</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="viideID" type="o:stringID" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Viitab elemendile läbi ID atribuudi</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:attributeGroup name="tekst.staatus">
		<xs:attribute name="kustutatud" type="xs:boolean" use="optional"/>
		<xs:attribute name="lisatud" type="xs:boolean" use="optional"/>
		<xs:attribute name="teostaja" type="xs:IDREF" use="optional"/>
		<xs:attribute name="muudatusAeg" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:element name="metaandmed" type="o:metaandmedType">
		<xs:annotation>
			<xs:documentation>Õigusakti sisesed metaandmed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="aktinimi">
		<xs:annotation>
			<xs:documentation>Akti nimi</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="o:TypeID">
					<xs:sequence>
						<xs:element name="nimi" type="o:pealkiriType">
							<xs:annotation>
								<xs:documentation>Nimi</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sisu" type="o:sisuType">
		<xs:annotation>
			<xs:documentation>Õigusakti sisu</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="valjakuulutamine">
		<xs:annotation>
			<xs:documentation>Väljakuulutamine</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="o:TypeID">
					<xs:sequence>
						<xs:element name="valjakuulutatud" type="o:valjakuulutatudType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Välja kuulutatud</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="vastuvoetud" type="o:vastuvoetudType">
		<xs:annotation>
			<xs:documentation>Vastu võetud</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TypeID">
		<xs:annotation>
			<xs:documentation>Komplekstüübi baas, varustatud atribuudiga ID dokumendi siseseks viitamiseks</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute name="refId" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="stringID">
		<xs:annotation>
			<xs:documentation>Teksti baas, varustatud atribuudiga ID dokumendi siseseks viitamiseks (v.a. enumeration loendid)</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="xs:string"/>
				<xs:attribute name="refId" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="changestringID" mixed="true">
		<xs:annotation>
			<xs:documentation>Muutust sisaldava teksti baas, varustatud atribuudiga ID dokumendi siseseks viitamiseks (v.a. enumeration loendid)</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute name="refId" type="xs:string"/>
		<xs:attributeGroup ref="o:tekst.staatus"/>
	</xs:complexType>
	<xs:complexType name="timeID">
		<xs:annotation>
			<xs:documentation>Kellaaja baas, varustatud atribuudiga ID dokumendi siseseks viitamiseks</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:time">
				<xs:attribute name="id" type="xs:string"/>
				<xs:attribute name="refId" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="dateID">
		<xs:annotation>
			<xs:documentation>Kuupäeva baas, varustatud atribuudiga ID dokumendi siseseks viitamiseks</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:date">
				<xs:attribute name="id" type="xs:string"/>
				<xs:attribute name="refId" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="gYearID">
		<xs:annotation>
			<xs:documentation>Aasta baas, varustatud atribuudiga ID dokumendi siseseks viitamiseks</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:gYear">
				<xs:attribute name="id" type="xs:string"/>
				<xs:attribute name="refId" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="nonNegativeIntegerID">
		<xs:annotation>
			<xs:documentation>Positiivse täisarvu baas, varustatud atribuudiga ID dokumendi siseseks viitamiseks</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:nonNegativeInteger">
				<xs:attribute name="id" type="xs:string"/>
				<xs:attribute name="refId" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="anyURIID">
		<xs:annotation>
			<xs:documentation>Tavalise urli baas, varustatud atribuudiga ID dokumendi siseseks viitamiseks</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attribute name="id" type="xs:string"/>
				<xs:attribute name="refId" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="b" type="o:tavatekstID">
		<xs:annotation>
			<xs:documentation>Rasvase teksti element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="i" type="o:tavatekstID">
		<xs:annotation>
			<xs:documentation>Kaldkirjas teksti element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="u" type="o:tavatekstID">
		<xs:annotation>
			<xs:documentation>Alla joonitud teksti element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ylaIndeks" type="o:stringID">
		<xs:annotation>
			<xs:documentation>Ülaindeks</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="alaIndeks" type="o:stringID">
		<xs:annotation>
			<xs:documentation>Alaindeks</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="sup" type="o:stringID">
		<xs:annotation>
			<xs:documentation>Ülaindeks</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="sub" type="o:stringID">
		<xs:annotation>
			<xs:documentation>Alaindeks</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="HTMLKonteiner" type="o:stringID">
		<xs:annotation>
			<xs:documentation>HTMLi sisaldav element. Lisatav HTML puhul on tegu HTML fragmendiga, peab sisalduma CDATA sektsioonina.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="tavatekst" type="o:tavatekstID">
		<xs:annotation>
			<xs:documentation>Tavaline tekst</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="loend">
		<xs:annotation>
			<xs:documentation>Loend</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="o:TypeID">
					<xs:sequence>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="number" type="o:changestringID">
								<xs:annotation>
									<xs:documentation>Numberloendi element</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="taht" type="o:changestringID">
								<xs:annotation>
									<xs:documentation>Täheloendi element</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:element ref="o:tavatekst" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Tavaline tekst</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="changeType" mixed="true">
		<xs:annotation>
			<xs:documentation>Muudatuse elemendi baas</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="kommentaar" type="o:changestringID">
				<xs:annotation>
					<xs:documentation>Muudatuse kasutajapoolne kommentaar</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
		<xs:attribute name="id" type="xs:string">
			<xs:annotation>
				<xs:documentation>Atribuut unikaalne identifikaator</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="tyyp" type="o:changeAttrType">
			<xs:annotation>
				<xs:documentation>Atribuut tüüp - "insert" või "delete"</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="kuupaev" type="xs:string">
			<xs:annotation>
				<xs:documentation>Atribuut kuupäev</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="autor" type="xs:string">
			<xs:annotation>
				<xs:documentation>Atribuut autor</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="muutusElementId" type="xs:string">
			<xs:annotation>
				<xs:documentation>Muutuse elemendi ID</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="pikkus" type="xs:string">
			<xs:annotation>
				<xs:documentation>Atribuut autor</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="positsioonTekstis" type="xs:string">
			<xs:annotation>
				<xs:documentation>Atribuut autor</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="changeAttrType">
		<xs:annotation>
			<xs:documentation>Muudatuse elemendi atribuudi tegevuste loetelu</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="lisa"/>
			<xs:enumeration value="kustuta"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="legaaldefinitsioonType">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>Legaaldefinitsioon</xs:documentation>
			</xs:annotation>
			<xs:extension base="o:TypeID">
				<xs:sequence>
					<xs:element name="moiste" type="o:stringID">
						<xs:annotation>
							<xs:documentation>Definitsiooni mõiste</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="maaratlus" type="o:stringID">
						<xs:annotation>
							<xs:documentation>Definitsiooni määratlus</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="piirangType">
		<xs:annotation>
			<xs:documentation>AK</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AK"/>
			<xs:enumeration value="Asutusesiseseks kasutamiseks"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="juurdepaasPiirangType">
		<xs:annotation>
			<xs:documentation>Juurdepääsupiirang</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="o:TypeID">
				<xs:sequence>
					<xs:element name="piirang" type="o:piirangType">
						<xs:annotation>
							<xs:documentation>Piirangu määratlus</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="teabeValdaja" type="o:stringID">
						<xs:annotation>
							<xs:documentation>Piirangu kehtestanud teabevaldaja</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="piirangAlgus" type="o:dateID">
						<xs:annotation>
							<xs:documentation>Piirangu alguskuupäev</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="piirangLopp" type="o:piirangLoppType">
						<xs:annotation>
							<xs:documentation>Piirangu lõpp</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="piirangAlus" type="o:stringID">
						<xs:annotation>
							<xs:documentation>Piirangu õiguslik alus</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="piirangPikendamine" type="o:piirangPikendamineType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Piirangu pikendamine</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="piirangKehtetuseAlgus" type="o:dateID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Piirangu kehtetuks tunnistamise kuupäev </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="piirangKehtetuseAlus" type="o:stringID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Piirangu kehtetuks tunnistamise õiguslik alus</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="piirangLoppType">
		<xs:annotation>
			<xs:documentation>Juurdepääsupiirangu lõpp</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="o:TypeID">
				<xs:choice>
					<xs:element name="piirangLoppKuupaev" type="o:dateID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Piirangu lõpukuupäev</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="piirangLoppSyndmus" type="o:stringID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Piirangu lõpetav sündmus</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="piirangPikendamineType">
		<xs:annotation>
			<xs:documentation>Juurdepääsupiirangu pikendamine</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="o:TypeID">
				<xs:all>
					<xs:element name="pikendamineAlgus" type="o:dateID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Piirangu pikendamise kuupäev</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pikendamineLopp" type="o:stringID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Pikendatud piirangu lõpp</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pikendamineAlus" type="o:stringID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Piirangu pikendamise õiguslik alus</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:all>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
