resources/XMLVarad/XMLVara_Kiri_(teabenõue_märgukiri_selgitustaotus)/V1.0/failid/dokumendiliik_kiri.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.riik.ee/schemas/kiri/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.riik.ee/schemas/kiri/">
  <xs:element name="Kiri">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AdressaatAadress" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation xml:lang="est">Aadress, kuhu dokument adressaadile saadetakse</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="AdressaatIsikukood" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Isikukoodi kasutamine adressaadi identifitseerimiseks</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:integer" name="AdressaatRegistrikood" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Juriidilise isiku riigiülese identifitseerimise võimaldamine</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="AdressaatEpost" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Adressaadi e-posti aadress</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="AdressaatPostiaadress" type="PostiaadressType" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Sideaadress, kuhu dokument adressaadile saadetakse</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="AdressaatDokumentKuupaev" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="est">Adressaadi poolne dokumendi kuupäev sissetulnud kirjal</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Adressaat" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation xml:lang="est">Osapool, kellele dokument on adresseeritud</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="AdressaatIsik" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Füüsilise isiku nimi</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="AdressaatAmetinimetus" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Füüsilise isiku ameti ametlik nimetus või roll</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="AdressaatOrganisatsioon" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Juriidilise isiku ametlik nimi</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="AdressaatOrganisatsioonStruktuuriyksus" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Struktuuriüksuse ametlik nimi</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="AdressaatMarge" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Märge täiendavate adressaatide kohta</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Allkirjastaja" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation xml:lang="est">Dokumendile allkirja andnud isiku andmed</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="AllkiriMarge" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Märge digitaalse allkirjastamise kohta dokumendi vormil</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="AllkirjastajaNimi">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Füüsilise isiku nimi</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="AllkirjastajaAmetinimetus" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Füüsilise isiku ameti ametlik nimetus</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="AllkirjastajaOrganisatsioon" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Juriidilise isiku ametlik nimi</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="AllkirjastajaOrganisatsioonStruktuuriyksus" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Üksuse ametlik nimi</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Autor">
          <xs:annotation>
            <xs:documentation xml:lang="est">Dokumendi autor</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="AutorOrganisatsioon">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Juriidilise isiku ametlik nimi</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="AutorOrganisatsioonStruktuuriyksus" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Struktuuriüksuse ametlik nimi</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AutorAadress">
          <xs:annotation>
            <xs:documentation xml:lang="est">Autori kontaktaadress dokumendile vastamiseks</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="AutorOrganisatsioonRegistrikood" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Juriidilise isiku riigiülese identifitseerimise võimaldamine</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="AutorEpost" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Autori e-posti aadress</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="AutorPostiaadress" type="PostiaadressType" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Autori sideaadress</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AutorKontaktandmed" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="est">Autori kontaktandmed, mille abil saab vajadusel ühendust võtta</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Veebileht" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Autori veebileht</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="SonumsideAadress" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Autori sõnumside aadress</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="Telefon" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Autori telefoninumber</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="Faks" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Autori faksinumber</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="AutorLogo" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Kirja autorit identifitseeriv visuaalne kujund</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="Dokumendiliik">
          <xs:annotation>
            <xs:documentation xml:lang="est">Dokumendiliigi nimetus</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Sisu">
          <xs:annotation>
            <xs:documentation xml:lang="est">Dokumendi tekstiline sisu</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Poordumine" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Viisakusvormel adressaadi poole pöördumiseks kirja sisuosa alguses</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="SisuLoik" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Dokumendi tekstilise sisu jagamine lõikudeks</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="SisuViide" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Viide õigusaktile või välisele infoallikale</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="Loputervitus" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Viisakusvormel kirja sisuosa lõpus</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Juurdepaas">
          <xs:annotation>
            <xs:documentation xml:lang="est">Dokumendile antud juurdepääsutingimuse kirjeldus</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="JuurdepaasTingimusMarge">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Dokumendile antud juurdepääsutingimuse kirjeldus</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="JuurdepaasuPiirang" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Dokumendile kehtestatud juurdepääsupiirangu kirjeldus</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="PiirangAlgus">
                      <xs:annotation>
                        <xs:documentation xml:lang="est">Juurdepääsupiirangu märke tegemise kuupäev (märke vormistamise kuupäev)</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:string" name="PiirangLopptahtaeg">
                      <xs:annotation>
                        <xs:documentation xml:lang="est">Juurdepääsupiirangu lõppemise maksimaalne kuupäev</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:string" name="PiirangAlus">
                      <xs:annotation>
                        <xs:documentation xml:lang="est">Õigusakt, mille alusel piirang on seatud</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:string" name="PiirangLoppSyndmus" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation xml:lang="est">Sündmus, mille toimumisel piirang lõppeb enne maksimaalset lõpptähtaega</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:string" name="PiirangKehtetuAlates" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation xml:lang="est">Dokumendi juurdepääsupiirangu kehtivuse lõppkuupäev</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:string" name="Teabevaldaja">
                      <xs:annotation>
                        <xs:documentation xml:lang="est">Juurdepääsupiirangu (esmaselt) kehtestanud asutuse nimi</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Koostaja" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation xml:lang="est">Teostaja roll tegevuse teostamisel</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KoostajaNimi" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Dokumendi ette valmistanud isiku nimi</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="Telefon" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Koostaja telefoninumber</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="Epost" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Koostaja e-posti aadress</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="DokumentKuupaev">
          <xs:annotation>
            <xs:documentation xml:lang="est">Dokumendi sisu lõpliku fikseerimise kuupäev</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Lisad" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation xml:lang="est">Dokumendi lisade loetelu</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="LisaNimi" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Dokumendile lisatud dokumendi nimetus</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="FailNimi" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Dokumendile lisatud faili nimi</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="FailVorming" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation xml:lang="est">Dokumendile lisatud faili vorming</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="DokumentPealkiri">
          <xs:annotation>
            <xs:documentation xml:lang="est">Dokumendi sisu kokkuvõttev lause</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:string" name="Seosviit" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="est">Adressaadi poolt määratud viit sissetulnud kirjal</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:string" name="DokumentViit" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="est">Dokumendile registreerimisel antud tähis, mis osutab dokumendi asukohale autori dokumendisüsteemis</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PostiaadressType">
    <xs:sequence>
      <xs:element type="xs:string" name="Riik" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="est">Aadressiobjekti riigi nimetus</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="Maakond" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="est">Maakonna nimi</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="Omavalitsusyksus" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="est">Omavalitsusüksuse (vald, omavalitsuslik linn) nimi</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="Haldusyksus" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="est">Asula või linnaosa nimi</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="Vaikekoht" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="est">Asustusüksusest väiksem maa-ala</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="MaayksusNimi" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="est">Maaüksuse nimi</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="Liikluspind" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="est">Maantee, tänav</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="Aadressinumber" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="est">Maja number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:integer" name="HooneosaNumber" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="est">Korteri või tööruumi number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="Postiasutus" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="est">Postkontori nimi, kus asuvad nimekastid postisaadetiste saatmiseks</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="PostkastiNumber" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="est">Postiasutuses asuv nimekast, kuhu suuna¬takse postisaadetised postkasti numbri alusel</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:integer" name="Postiindeks" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="est">Aadressiobjekti asukoha sihtnumber</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>