old stuff/resources/XMLVarad/XMLVara_Dokumendihalduse_metaandmed_V2.1/dokument2805.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Kuldar (Rahvusarhiiv) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="dokument">
		<xs:annotation>
			<xs:documentation>Dokumenti kirjeldavad metaandmed</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dokumentLiik" type="xs:string">
					<xs:annotation>
						<xs:documentation>Dokumendiliigi nimetus</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dokumentMall" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Sisaldab teatud dokumendiliigi püsivaid (vormistuslikke) elemente</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="dokumentMallNimetus" type="xs:string">
								<xs:annotation>
									<xs:documentation>Mallile omistatud nimetus</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="dokumentMallKuupaev" type="KuupaevTyyp">
								<xs:annotation>
									<xs:documentation>Dokumendimalli kehtestamise kuupäev ja aeg</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="mallID" type="xs:IDREF" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="dokumentViit" type="xs:string">
					<xs:annotation>
						<xs:documentation>Dokumendile registreerimisel antud tähis, mis osutab dokumendi asukohale dokumendisüsteemis</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dokumentLiigitusyksus" type="xs:IDREF" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Liigitusüksus, millesse dokument kuulub</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dokumentStaatus" type="xs:string">
					<xs:annotation>
						<xs:documentation>Dokumendile märgitud staatus</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="saatjaKontekst" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Sissetulnud dokumendi kontekst saatja juures</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="seosviit" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Saabunud (sissetulnud) dokumendi viit. Seosviit viitab asja algatavale dokumendile (kirjale)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="saatjaSariPealkiri" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Saatja asutuse sarja, kuhu saadetav dokument kuulub, pealkiri</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="saatjaToimikPealkiri" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Saatja asutuse toimiku, kuhu saadetav dokument kuulub, pealkiri</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="dokumentPealkiri" type="xs:string">
					<xs:annotation>
						<xs:documentation>Dokumendi sisule vastav nimetus</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dokumentTeema" type="xs:string" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Dokumendi sisu esitus vaba tekstina</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dokumentMarksona" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Dokumendi sisu iseloomustav sõna või sõnaühend</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="dokumentTesaurus" type="xs:IDREF" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="dokumentKeel" type="xs:string" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Dokumendi sisu esituse keel</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dokumentAllkiri" type="xs:string" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Informatsioon füüsilise isiku poolt volituse või sertifikaadi alusel antud kinnituse kohta</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dokumentKuupaev" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Kuupäev, kui dokumendiga leiavad aset põhilised dokumendihalduse toimingud</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="kuupaevLoomine" type="KuupaevTyyp">
								<xs:annotation>
									<xs:documentation>Dokumendi esimese salvestamise (deklareerimise) kuupäev ja aeg</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="kuupaevRegistreerimine" type="KuupaevTyyp">
								<xs:annotation>
									<xs:documentation>Dokumendi süsteemi hõlmamise kuupäev ja aeg</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="kuupaevEraldamine" type="KuupaevTyyp">
								<xs:annotation>
									<xs:documentation>Dokumendi süsteemist eraldamise kuupäev ja aeg</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="kuupaevHavitamine" type="KuupaevTyyp">
								<xs:annotation>
									<xs:documentation>Dokumendi füüsilise hävitamise kuupäev ja aeg</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="kuupaevKooskolastamine" type="KuupaevTyyp" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Dokumendi kavandi sisule nõusoleku andmise kuupäev ja aeg</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="kuupaevAllkirjastamine" type="KuupaevTyyp" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Volitatud isiku poolt allkirja andmise kuupäev ja aeg</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="kuupaevSaamine" type="KuupaevTyyp" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Dokumendi väljastpoolt asutust saamise kuupäev ja aeg</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="kuupaevSaatmine" type="KuupaevTyyp" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Dokumendi (teise asutusse) väljasaatmise kuupäev ja aeg</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="kuupaevSailitustahtaegMarkimine" type="KuupaevTyyp" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Dokumendile säilitustähtaja märkimise (kui see erineb sarja ja toimiku säilitustähtajast) kuupäevja aeg</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="kuupaevSailitustahtaegMuutmine" type="KuupaevTyyp" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Dokumendi säilitustähtaja muutmise kuupäev ja aeg</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="versioonNumber" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Element määratleb dokumendi erinevaid variante ja teisendeid</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dokumentAsukoht" type="xs:string" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Dokumendi füüsiline asukoht (kui see erineb toimiku füüsilisest asukohast)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dokumentTyyp" type="xs:string" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Dokumendi meedia (teabekandja) vorming </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Lisad" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Märge dokumendile lisatud või selle koosseisu kuuluvatele teistele dokumentidele</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="krypteering" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Dokumendi sisu krüpteerimise kohta tehtud märge</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="seotudOsa" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Dokumendiga seotud teine dokument, kirjeldusüksus, dokumendi osa</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="seotudOsaIdentifikaator" type="xs:string">
								<xs:annotation>
									<xs:documentation>Unikaalne identifikaator seotud osa jaoks</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="seosTyyp">
								<xs:annotation>
									<xs:documentation>Identifitseerib ja määratleb seose olemuse</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="isVersionOf"/>
										<xs:enumeration value="hasVersion"/>
										<xs:enumeration value="isReplacedBy"/>
										<xs:enumeration value="replaces"/>
										<xs:enumeration value="isRequiredBy"/>
										<xs:enumeration value="requires"/>
										<xs:enumeration value="isPartOf"/>
										<xs:enumeration value="hasPart"/>
										<xs:enumeration value="isReferencedBy"/>
										<xs:enumeration value="references"/>
										<xs:enumeration value="isFormatOf"/>
										<xs:enumeration value="hasFormat"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="kuupaevSeos" type="KuupaevTyyp">
								<xs:annotation>
									<xs:documentation>Seose tekkimise või lõppemise kuupäev</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="seosPohjus" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Kirjeldab seose tekitamise allikat</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="KuupaevTyyp">
		<xs:annotation>
			<xs:documentation>Kuupäeva tüüp</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:dateTime">
				<xs:attribute name="kodeerimisskeem" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="EVS8"/>
							<xs:enumeration value="ISO8601"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
